<h3>
  Your receipt ID is: <%= @receipt.id %>
</h3>

<form action = "/get-product/<%= @receipt.id %>" method = "post">
  <input type = "text" name = "product[name]" placeholder = 'Product Name'>
  <input type = "text" name = "product[quantity]" placeholder = 'Quantity'>
  <input type = "text" name = "product[unit_price]" placeholder = 'Unit Price'>
  <input type = "submit" value = "Submit">
</form>


<h4>
  Your list of products are as following:
  <br>
  <br>
  <% @products.each do |product| %>
  <br>
  <h>Product Name :</h>
  <%= product.name %>
  <br>
  <h>Quantity :</h>
  <%= product.quantity %>
  <br>
  <h>Unit Price :</h>
  <%= product.unit_price %>

  <br>
    <a href="/receipt/<%= @receipt.id %>/product/<%= product.id %>/delete">
    <button type = "button" name = "button">Delete</button>
    </a>

  <br>
    <a href="/receipt/<%= @receipt.id %>/product/<%= product.id %>/edit">
    <button type = "button" name = "button">Edit</button>
    </a>

  <% end %>


</h4>
